<launch>
  <arg name="robot_namespace" default="burger1"/>
  <arg name="model" default="burger"/>
  <arg name="output" default="log"/>

  <group ns="$(arg robot_namespace)">
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find turtlebot3_path_planner)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" subst_value="true"/>
      <rosparam file="$(find turtlebot3_path_planner)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" subst_value="true"/>
      <rosparam file="$(find turtlebot3_path_planner)/param/local_costmap_params.yaml" command="load" subst_value="true"/>
      <rosparam file="$(find turtlebot3_path_planner)/param/global_costmap_params.yaml" command="load" subst_value="true"/>
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
      <rosparam file="$(find turtlebot3_path_planner)/param/move_base_params.yaml" command="load" />
      <rosparam file="$(find turtlebot3_path_planner)/param/dwa_local_planner_params_$(arg model).yaml" command="load"/>

      <remap from="cmd_vel" to="/$(arg robot_namespace)_cmd_vel"/>
      <remap from="odom" to="/$(arg robot_namespace)_odom"/>
	  <remap from="map" to="/$(arg robot_namespace)_map"/>
	</node>
  </group>

</launch>
