<launch>
  <arg name="robot_namespace" default="burger1"/>
  <arg name="model" default="burger"/>
  <arg name="output" default="log"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find turtlebot3_path_planner)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot3_path_planner)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtlebot3_path_planner)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_path_planner)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_path_planner)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_path_planner)/param/dwa_local_planner_params_$(arg model).yaml" command="load"/>
    <remap from="cmd_vel" to="burger1_cmd_vel"/>
    <remap from="odom" to="burger1_odom"/>
	<remap from="map" to="burger1_map"/>
  </node>

</launch>
