<launch>
  <arg name="model" default="burger" doc="model [burger, waffle, waffle_pi]"/>
  <arg name="robot_namespace" default="burger1"/>
  <arg name="output" default="log"/>

  <arg name="x_pos" default="-3.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <!-- Model -->
  <group if="$(eval model == 'burger' or model == 'waffle' or model == 'waffle_pi')">
	<!-- use _ instead of / for robot prefix -->
	<param name="$(arg robot_namespace)_robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_custom_description)/urdf/turtlebot3_$(arg model).urdf.xacro robot_namespace:=$(arg robot_namespace)"/>

	<node name="$(arg robot_namespace)_spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_$(arg robot_namespace) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param $(arg robot_namespace)_robot_description"/>

	<node name="$(arg robot_namespace)_robot_state_publisher" type="robot_state_publisher" pkg="robot_state_publisher">
	  <remap from="robot_description" to="$(arg robot_namespace)_robot_description"/>
	</node>

	<node name="$(arg robot_namespace)_joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher">
	  <param name="use_gui" value="false"/>
	  <remap from="robot_description" to="$(arg robot_namespace)_robot_description"/>
	</node>
  </group>

</launch>
