<launch>
  <arg name="robot_namespace"/>

  <!-- Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="turtlebot3_slam_gmapping" output="screen">
    <param name="base_frame" value="$(arg robot_namespace)/base_footprint"/>
    <param name="odom_frame" value="$(arg robot_namespace)/odom"/>
    <param name="map_frame"  value="$(arg robot_namespace)/map"/>
    <rosparam command="load" file="$(find turtlebot3_slam)/config/gmapping_params.yaml" />
  </node>	
</launch>
